.marker-h2 {
  font-family: "ui-monospace", monospace;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-bottom: 3px dashed var(--marker-black);
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-align: left;
}
